<ion-header>

  <ion-navbar color="primary">
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list no-lines>

    <form [formGroup]="slideOneForm">

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" [(ngModel)]="email" type="email" [class.invalid]="(!slideOneForm.controls.email.valid  || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item>
        <span *ngIf="(!slideOneForm.controls.email.valid  || submitAttempt)" class="error" >Please enter correct email</span>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" [(ngModel)]="password" type="password" [class.invalid]="(!slideOneForm.controls.password.valid  || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item>
        <span *ngIf="(!slideOneForm.controls.password.valid  || submitAttempt)" class="error">Please enter correct password</span>
      </ion-item>


    </form>
  </ion-list>


  <button ion-button clear block class="password" >Forgot password</button>
  <ion-grid text-center>
    <ion-row>
      <ion-col col-12>
        <button ion-button color="primary" (click)="gottoHome()">Login</button>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-grid text-center>
    <ion-row>
      <ion-col col-12>
        <button ion-button outline color="primary" (click)="gotosignup()">SignUp</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


