.load
{
    padding-left:100px;
}

.viewTitle{
    padding-bottom:30px;
}
.AddRemoveButton{
    padding-top:30px;
    padding-bottom:40px;
}

.viewTitleDisplay{
    padding-left:80px;
    padding-right:46px;
    font-size:16px;
}

.spinner
{
    padding-top:200px;
    padding-left:120px;
}
.calendar{
    color:black
}