<ion-header>

    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="logout()">
            <ion-icon name="log-out" ></ion-icon>
          </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content padding class="has-header">
    <div *ngIf="!spinner" class="spinner">
        <spinner [tickness]="6" [size]="20"></spinner>
    </div>

    <div *ngIf="spinner">
        <ion-item>
            <ion-label>Choose Business</ion-label>
            <ion-select okText="Ok" cancelText="Cancel" [(ngModel)]="selectedId" (ngModelChange)="getType($event)" [required]>
                <ion-option *ngFor="let b of business;let i=index;" [selected]="i==0" value="{{b.id}}">{{b.companyName}}
                </ion-option>
            </ion-select>


        </ion-item>
        <ion-item>
            <ion-label>Choose Listing</ion-label>
            <ion-select #item okText="Ok" cancelText="Cancel" [(ngModel)]="selectedvalue" [required] id="dropdown" (ngModelChange)="onListingChange($event)">
                <ion-option *ngFor="let item of generateArray(listings);let i=index;" [selected]="i==0" value="{{item.value.id}}">{{item.value.name}}
                </ion-option>
            </ion-select>


        </ion-item>
        <img src="{{imgUrl}}">
        <br>
        <div class="load">
            <button ion-button outline (click)="LoadEvents(selectedvalue)" [disabled]="!loading">Load</button>
        </div>


        <br>
        <div class="AddRemoveButton">
            <button ion-button full round color="danger" (click)="AddRemoveAvailability()">Add/Remove Availability</button>

        </div>

        <div style="padding-left:17px; padding-bottom:20px;">
                <ion-chip>
                        <ion-icon name="checkmark" color="secondary"></ion-icon>
                        <ion-label>Available</ion-label>
                    </ion-chip>
                    <ion-chip>
                            <ion-icon name="close" color="danger"></ion-icon>
                            <ion-label>Not Available</ion-label>
                        </ion-chip>
        </div>
       
      

        <div class="viewTitle">

            <b class="viewTitleDisplay">{{viewTitle}}</b>


        </div>

        <template #template let-view="view" let-row="row" let-col="col">


            <p *ngIf="!displayCalendar" class="calendar">
                {{view.dates[row*7+col].label}}</p>
            <div *ngIf="displayCalendar">
                <div *ngFor="let obj of view.dates[row*7+col].events">
                    <p [ngStyle]="{'color': obj.eventColor } ">{{view.dates[row*7+col].label}}</p>
                </div>
            </div>

        </template>


        <calendar [monthviewDisplayEventTemplate]="template" [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
            [showEventDetail]="false" (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30" autoSelect="true">
        </calendar>




    </div>
</ion-content>