<ion-header>

  <ion-navbar color="primary">
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Choose Business</ion-label>

    <ion-select okText="Ok" cancelText="Cancel" [(ngModel)]="selectedId" (ngModelChange)="getType($event)">
      <ion-option *ngFor="let b of business;let i=index;" [selected]="i==0" value="{{b.id}}">{{b.companyName}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Choose Listing</ion-label>
    <ion-select #item okText="Ok" cancelText="Cancel" [(ngModel)]="selectedvalue" [required] id="dropdown" (ngModelChange)="onListingChange($event)">
      <ion-option *ngFor="let item of generateArray(listings);let i=index;" [selected]="i==0" value="{{item.value.id}}">{{item.value.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <br>
  <img src="{{imgUrl}}">
  <br>
  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dates" [min]="currentDate" placeholder="{{startdate | date: 'dd-MM-yyyy'}}"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>End Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="datess" [min]="nextcurrentDate" placeholder="{{enddate | date: 'dd-MM-yyyy'}}"></ion-datetime>
  </ion-item>



  <ion-label class="availability" >What you want to do ?</ion-label>
  <ion-list radio-group [(ngModel)]="action">
    <ion-item>

      <ion-label>Add Availability</ion-label>
      <ion-radio value="add"></ion-radio>
    </ion-item>


    <ion-item>
      <ion-label>Remove Availability</ion-label>
      <ion-radio value="remove"></ion-radio>
    </ion-item>
  </ion-list>
  <br>

  <ion-label class="availability"  >Do this action for:</ion-label>
  <ion-item>

    <ion-label>Day</ion-label>
    <ion-checkbox [(ngModel)]="day"></ion-checkbox>
  </ion-item>


  <ion-item>
    <ion-label>Overnight</ion-label>
    <ion-checkbox [(ngModel)]="overnight"></ion-checkbox>
  </ion-item>

  <br>
  <button ion-button color="danger" (click)="Update()" [disabled]="!loading">Update</button>
  <button ion-button outline color="danger" (click)="Cancel()">Cancel</button>
</ion-content>